h1{
	
	
}

div.head{
	background-color: cyan;
	border: 3px solid black;
	padding: 10px;
	margin: auto;
	width: 50%;
	text-align: center;
	
}

div.body{
	background-color: cyan;
	border: 3px solid black;
	padding: 10px;
	margin: auto;
	width: 50%;
	text-align: center;
	
}

h1.nowhere{
	border: 3px solid red;
}

body{
	background-color: white;
	text-align: center;
	
}
pre{
	font-family: verdana;
}
/* start link styles*/
a:link {
    color: black; 
    background-color: transparent; 
    text-decoration: underline;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
a.picture:link {
    color: black; 
    background-color: transparent; 
    text-decoration: none;
}

a.picture:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a.picture:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a.picture:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
/* end link styles*/
