body,header{
	margin: 0;
	padding: 0;
	border: 0;
	margin-top:0;
}


	
#wrapper{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	margin-left: 17vw;
}

#intro{
	background-color: #00ffff;
	height:100vh;
	padding: 10em 5em 0.5em 5em ;
	font-weight: bold;
	font-size: 1em;
	}
	
h1{
	color: black;
	font-size: 5em;
}

#p1{
	color: rgba(0,0,0,0.75);
	font-size: 2em;
}

#AboutMe{
	background-color: #0066ff;
	height:100vh;
	padding: 5em 5em 0.5em 5em ;
	}
	
h2{
	color: black;
	font-size: 3em;
}

#p2{
	color: black;
	font-size: 1.5em;
}

	
#Projects{
	background-color: #006699;
	height:100vh;
	padding: 5em 5em 0.5em 5em ;
	}
	
h3{
	color: black;
	font-size: 3em;
}
	
#ProjectsTable,td{
	border: 1px solid black;
	border-collapse: collapse;
}

#ProjectsTableSection{
	padding: 2.5em 2.5em 0.5em 2.5em;
}
	
#ContactMe{
	background-color: #00ffff;
	height:85vh;
	padding: 5em 5em 0.5em 5em ;
	}
	

#sidebar {
	padding: 15em 2.5em 0.5em 2.5em ;
	background: #666666;
	cursor: default;
	height: 100vh;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	text-align: right;
	top: 0;
	width: 15vw;
	z-index: 10000;
	vertical-align: middle;
	line-height: 50px;
	}
	
footer{
	margin-left: 17vw;
	padding-left: 2.5em;
}
	
ul{
	list-style: none;
}

li{
	font-weight: bold;
    letter-spacing: 0.25em;
	border-bottom-style: outset;
	border-bottom: 3px solid rgb(255,255,255,0.5);
	font-size: 1em;
	padding-top: 1.5em;
}

li:hover{
	border-bottom: 3px solid white;
}


/*links*/

a.sidebar:link,a.sidebar:visited{
	color: rgb(255,255,255,0.5);
	text-decoration: none;
	
} 

a.sidebar:hover{
	color: white;
	text-decoration: none;
	
}

